@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eDoctor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="d-flex vh-100 align-items-center justify-content-center text-center">
        <div>
            <h1>SOS</h1>
            <p>Something went wrong!</p>
        </div>
    </div>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
