@if (TempData.HasAlert())
{
    <div class="alert @TempData["AlertType"] position-fixed bottom-0 start-0 ms-3 mb-3 shadow fade show" id="alert" style="z-index: 9999;">
        @TempData["AlertMessage"]
    </div>

    <script id="alert-script">
        setTimeout(() => {
            const alertElement = document.getElementById('alert')
            const scriptElement = document.getElementById('alert-script')

            if (alertElement) {
                alertElement.remove()
            }

            if (scriptElement) {
                scriptElement.remove()
            }
        }, @TempData["AlertDelay"])
    </script>
}
