<li class="nav-item">
    <a class="btn btn-outline-primary me-2" asp-controller="Account" asp-action="Login">Login</a>
</li>
<li class="nav-item">
    <a class="btn btn-primary" asp-controller="Account" asp-action="Register">Register</a>
</li>
