<nav class="navbar navbar-expand sticky-top bg-white border-bottom box-shadow">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">eDoctor for doctor</a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="btn btn-outline-primary me-2">
                    <i class="bi bi-bell-fill"></i>
                    99
                </a>
            </li>
            <li class="nav-item dropdown">
                <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="bi bi-person-circle"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Profile">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger cursor-pointer" onclick="logout()">
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<form id="logout-form" method="post" asp-controller="Account" asp-action="Logout"></form>

<script>
    const logout = () => {
        const logoutForm = document.getElementById('logout-form')

        if (!logoutForm) {
            throw new Error("Missing logout form")
        }

        logoutForm.submit()
    }
</script>
